{% extends 'layout.html' %}
{% set page = 'about' %}

{% block title %}
Tech Stack
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="/static/style/about.page.css" />
{% endblock %}


{% block content %}
<article>
    <h1>about</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Vivamus dictum massa eu ultricies sagittis. Nunc sit amet urna posuere,
        sagittis enim et, ornare lectus. Quisque vitae consequat neque,
        gravida molestie mi. Nulla ligula nisi, feugiat sed vulputate id,
        rhoncus ut arcu. Nulla id nulla orci. Aliquam eros ligula,
        gravida condimentum eleifend eu, fermentum ut lectus.
        In eu tellus at libero semper hendrerit ut in libero. Sed gravida interdum metus,
        ut dignissim risus.
    </p>
</article>
{% endblock %}
